/* Primary Settings */
*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style: none;
    scroll-behavior: smooth;
}
a{
    color: #000;
}
*::-webkit-scrollbar{
    display: none;
}

i.bx-moon{
  font-size: 2.5rem;
  cursor: pointer;
}

i.bx-menu{
    font-size: 3rem;
}

/* End of Primary Settings */


/* Animations */
@keyframes zoom-out-effect{
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes zoom-in-effect{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.1);
    }
}
/* End of Animations */


/*  Side Navigation Bar  */
nav{
    height: calc(100vh - 78px);
    width: 40px;
    background: var(--customColor);
    overflow-y: scroll;
    position: fixed;
    top: 7.8rem;
    left: 0;
}

@media screen and (max-width: 768px){
    nav{
        top: 6.5rem;
    }
}


nav ul,
nav ul li{
    height: fit-content;
    width: fit-content;
}
nav ul li{
    display: flex;
    margin: 1.5rem 0.5rem;
    cursor: pointer;
}
nav ul li i{
    height: fit-content;
    width: fit-content;
    padding: 0.3rem 0.3rem;
    font-size: 2.5rem;
    border-radius: 0.5rem;
    animation: all 250ms ease-in-out;
}
nav ul li h3{
    margin: auto;
    margin-left: 1.5rem;
    animation: all 250ms ease-in-out;
}

nav ul li i:hover{
    background: #f00;
    color: #fff;
}

.max-nav{
    width: fit-content;
    z-index: 120;
}
.max-nav ul li{
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
    transition: all 250ms ease-in-out;
}

.max-nav ul li h3{
    animation: all 250ms ease-in-out;
}

.max-nav ul li:hover{
    background: #f00;
    color: #fff;
}

nav ul > li span, .max-nav ul > li span{
    height: 0.7rem;
    width: 0.7rem;
    border-top: 0.2rem solid #000;
    border-right: 0.2rem solid #000;
    transform: rotateZ(45deg);
    transition: all 250ms ease-in-out;
}

nav ul > li, .max-nav ul > li{
    margin-left: 0.4rem;
    padding: 1.1rem 0.92rem;
    border-radius: 0.5rem;
    transition: all 250ms ease-in-out;
    margin-top: 1rem;
}
nav ul > li:hover, .max-nav ul > li:hover{
    background: #f00;
}

nav ul > li:hover span, .max-nav ul > li:hover span{
    border-top: 0.2rem solid #fff;
    border-right: 0.2rem solid #fff;
}

.max-nav ul > li span{
    transform: rotateZ(-135deg);
}
/*  End of Side Navigation Bar  */

/*  Portfolio Content  */
.container-fixed{
    height: calc(100vh - 78px);
    width: calc(100% - 40px);
    position: fixed;
    top: 78px;
    left: 40px;
    z-index: 1;
    overflow-y: scroll;
    padding-bottom: 2rem;
}

.samples{
    height: fit-content;
    width: 100%;
    text-align: center;
}
.sample-box{
    height: 20rem;
    width: 32rem;
    position: relative;
    border: 0.2rem solid #000;
    overflow: hidden;
    margin:2rem;
    border-radius: 0.5rem; 
    transition: border,opacity 0.5s, 250ms ease-in-out;
    display: inline-block;
}

.sample-image,
.sample-image img{
    height: 100%;
    width: 100%;
}

.sample-hover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 250ms ease-in-out;
    z-index: -1;
}

.sample-box:hover{
    background: #00000034;
    border: 0.2rem solid var(--customColor);
}
.sample-box:hover .sample-hover{
    z-index: 5;
    background: #00000034;
    animation: zoom-out-effect 0.5s ease-in-out;
}

.sample-title{
    height: fit-content;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--customColor);
}

.sample-title h3{
    height: fit-content;
    width: fit-content;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.2rem;
    text-shadow: 0 0 3px #000;
    margin: auto;
}
.sample-title h3 b{
    font-size: 2rem;
    text-shadow: 0 0 3px #000;
}

.sample-visit-btn{
    height: fit-content;
    width: fit-content;
    position: relative;
    margin: auto;
    top: calc(50% - 1.5rem);
    padding: 0.5rem 1rem;
}

.sample-visit-btn button{
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    background: var(--customColor);
    color: #fff;
    text-shadow: 0 0 3px #000;
    border-radius: 0.5rem;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}
.sample-visit-btn button:hover{
    border: 0.2rem solid var(--customColor);
    color: var(--customColor);
    background: #fff;
    text-shadow: none;
}

.empty{
    height: fit-content;
    width: fit-content;
    display: none;
    margin: auto;
}
.empty h3{
    font-size: 2rem;
    color: #f00;
    padding: 1rem;
}
/*  End of Portfolio Content  */

@media screen and (max-width: 400px){
    .sample-box{
        height: 17rem;
        width: 25rem;
    }
}
@media screen and (max-width: 280px){
    .sample-box{
        height: 10rem;
        width: 15rem;
    }
}
